<!DOCTYPE html>
<html xmlns:th="http - FORBIDDEN - www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
<!--    <link rel="stylesheet" href="css/style.css" type="text/css"/>-->
 <link rel="stylesheet" href="style.css" type="text/css"/>-->
</head>
<body>
<header>
    <h1 th:text ="${employee.name}"/>
    <h2>java developer</h2>
    <h3>remotely or hybrid from Brest, Belarus</h3>
    <nav>
        <a href="#summary">summary</a>
        <a href="#experience">experience</a>
        <a href="skills">skills</a>
        <a href="education">education</a>
    </nav>
</header>
<main>
    <section class="summary" id="summary">
        <h2>Summary</h2>
        <div>
            <img src="\images\images.jpg"/>
            <div>
                <ul>
                    <li>tg: <span>@Tatiana_Alekseevna_1</span></li>
                    <li>phone: <span>+375297259823</span></li>
                    <li>mail: <span>glucharik2@gmail.com</span></li>
                </ul>
            </div>
        </div>
        <p>
            The best from the Brest!!!
        </p>
    </section>
    <section class="experience" id="experience">
        <h2>Experience</h2>
        <p>
            Коммерческий проект.
        </p>
    </section>
    <section class="skills" id="skills">
        <h2>Skills</h2>
        <p>
            Имею опыт работы в команде.
        </p>
    </section>
    <section class="education" id="education">
        <h2>Education</h2>
        <p>
            Высшее техническое (ВГТУ).
        </p>
    </section>
</main>
</body>
</html>